/* 
Project Name: Madzia
Client: Madzia
Author: Pawel
*/


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

.allignleft{
     float:left;
}

.allignright{

     float:left;

}
.avatar{
     border-radius: 50%;
}

.icon {
     width: 12px;
     height: 12px;
 }

/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body {

     background: url('../images/notebook.png')



}
#littlepad{
	padding: 10px;
}
#Autor {
     font-size: 9px;
     margin-bottom: 45px;
}

#container{
     
     width: 900px;
     margin: 0 auto 0 auto;
     border-radius: 5px;
     margin: 0 auto;

}

#main{
     width: 570px;
     background: white;
     border-radius: 5px;
     float: left;
     padding: 10px;
     margin-right: 10px;
     
     
}
#sidebar{
     width: 300px;
     background: white;
     border-radius: 5px;
     float: left;
     padding: 10px;

}

#footer{
     padding: 0;

     
}
hr {
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
 }
 a {

	color: #da800b;
	text-decoration: none;
}

/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/


